{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form action="/update_todos" method="post" class="todo-list">
    <div class="col-md-12">
      <h2>Items</h2>
      <fieldset class="checkboxgroup">
        {% for item in items %}
          {% if item.status == "Not Started" %}
            <label><input type ="checkbox" name="todo-item" value="{{item.id}}"> {{item.title}}</label><br>
          {% else %}
            <label><input type ="checkbox"  name="todo-item" value="{{item.id}}" checked disabled> <s>{{item.title}}</s></label></s><br>
          {% endif %}
        {% endfor %}
      </fieldset>
    </div>
    <div class="todo-list">
      <input type="submit" value="Update!">
    </div>
  </form>
  
  <form action="/add_item" method="post" class="todo-form">
    <div class="todo-form">
      <label for="title">Enter your to-do item: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="todo-form">
      <input type="submit" value="Add!">
    </div>
  </form>
{% endblock %}

