{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="col-md-12">
    <form action="/update_todos" method="post" class="todo-list">
      <div>
        <h2>Items</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Mark as Done</th>
              <th>Title</th>
              <th>Delete</th>
            </tr>
          </thead>
          {% for item in items %}
            <tr>
              {% if item.status == "To Do" %}
                <td><input type ="checkbox" name="complete-todo-item" value="{{item.id}}"></td>
                <td>{{item.title}}</td>
                <td><input type ="checkbox" name="delete-todo-item" value="{{item.id}}"></label></td>
              {% else %}
                <td><input type ="checkbox" name="complete-todo-item" value="{{item.id}}" checked disabled></td>
                <td><s>{{item.title}}</s></td>
                <td><input type ="checkbox" name="delete-todo-item" value="{{item.id}}"></label></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
      <input type="submit" class="btn btn-primary" value="Update!">
    </form>
    <br>
    <form action="/add_item" method="post">
      <div class="form-group row">
        <label for="title" col-sm-2 col-form-label>Enter your to-do item: </label>
        <div class="col-sm-10">
          <input type="text" name="title" id="title" class="form-control" required>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Add!">
    </form>
  </div>
{% endblock %}

